<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Results</h3>
    <div class="card-body">
        <div id="table" class="table-editable" style="margin-top: 50px;">
      <button class="btn btn-default" style="float:right" ui-sref="aggregations({id: ''})">ADD</button>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Number</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Tags</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Remove</th>
                </tr>
                <tr ng-repeat="result in vm.results">
                    <td>
                        {{result.id}}
                    </td>
                    <td>
                        {{result.name}}
                    </td>
                    <td>
                        {{result.number}}
                    </td>
                    <td>
                        {{result.email}}
                    </td>
                    <td>
                        {{result.tags}}
                    </td>
                    <td class="pt-3-half">
                        <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0"><a
                                ui-sref="aggregations({id: result.id})">Edit</a></button></span>
                    </td>
                    <td>
                        <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                                                           ng-click="vm.deleteUser(result.id)">Remove</button></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>